html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #FFFFFF;
    color: #212529;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Sección principal */
.card-primary {
    background-color: #0B1F3A;
    color: white;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Texto pequeño superior */
.font {
    color: #00A8E8;
    font-weight: bold;
}

.card-zoom {
    transition : transform 0.3s;

}
    .card-zoom:hover {
        transform: scale(1.05);
    }

.card-img {
    height: 100px;
    object-fit: cover;
}





/* ENCABEZADO DE PRODUCTOS       */

.productos-encabezado {
    background-color: #1e293b;
    color: white;
    padding: 45px 0;
    text-align: center;
}

    .productos-encabezado h1 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .productos-encabezado p {
        color: #d1d5db;
        max-width: 700px;
        margin: auto;
    }



/* SECCION DE PRODUCTOS          */


.productos-seccion {
    background-color: #f8fafc;
    padding: 50px 0;
}



/* TARJETA DEL PRODUCTO          */


.producto-card {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}


    /* Efecto al pasar el mouse */

    .producto-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    }



/* IMAGEN DEL PRODUCTO           */


.producto-imagen-contenedor {
    background-color: white;
    padding: 15px;
}

.producto-imagen {
    width: 100%;
    height: 200px;
    object-fit: contain;
}



/* CONTENIDO DEL PRODUCTO        */


.producto-contenido {
    display: flex;
    flex-direction: column;
}


/* Nombre */

.producto-nombre {
    color: #1e293b;
    font-weight: bold;
    margin-bottom: 10px;
}


/* Descripcion */

.producto-descripcion {
    color: #64748b;
    font-size: 14px;
    flex-grow: 1;
}



/* PRECIO Y BOTON                */


.producto-final {
    margin-top: 15px;
}

.producto-precio {
    color: #2563eb;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}


/* Boton */

.btn-producto {
    background-color: #2563eb;
    color: white;
    width: 100%;
}

    .btn-producto:hover {
        background-color: #1d4ed8;
        color: white;
    }